<%= render 'layouts/jumbotron' %>

  <p id="notice"><%= notice %></p>

  <div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Latest News
          <p class="lead"><%= " filtrando por #{@q}, #{@posts.count}" if @q && !@q.empty? %></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">
              Ad Space
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->
</div>

  <br>
  <br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <div id="posts_list">
            <%= render partial: 'post', collection: @posts %>
          </div>
        </div> <!-- PANEL BODY -->
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'New Post', new_post_path, class: "background-color: red" %>

  <div id="pagination">
    <%= paginate @posts %>
  </div>

  <script>
  $(window).scroll(function(){
    paginacion();
  });

  var paginacion = _.debounce(function(){
    var next = $(".next").children("a").last().attr("href");
    var pos = $(document).scrollTop();
    if (next && pos > $(document).height() - $(window).height() - 50) {
      $.ajax({
        url: next,
        type: "GET",
        dataType: "script",
        data: {},
      })
      .done(function(){
        console.log("success");
      })
      .fail(function(){
        console.log("error");
      })
      .always(function(){
        console.log("complete");
      })
    }
  }, 200);
  </script>
</div> <!-- CONTAINER -->
