<div class="container">
	<div class="row col-md-offset-2 col-md-8">
		<p id="notice"><%= notice %></p>
	</div>

	<div class="row col-md-offset-2 col-md-8">
		<h2><%= @post.title %></h2>
	</div>


	<div class="row col-md-offset-2 col-md-8">
		<p><%= @post.content %></p>
	</div>
	<br>
	<div class="row col-md-offset-2 col-md-8">
		<% if can? :update, @article %>
			<%= link_to 'Edit', edit_post_path(@post) %> |
		<% end %>
		<%= link_to 'Back', posts_path %>
	</div>

	<div class="row col-md-offset-2 col-md-8">
		<%= render 'comments/form' %>
		<br>
		<h5>Comments:</h5>
		<%= render partial: 'comments/comment', collection: @last_comments %>
	</div>
</div>